altgraph==0.17.4
anyio==4.6.2.post1
attrs==26.1.0
blinker==1.9.0
cattrs==26.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
chess==1.11.2
click==8.1.8
colorama==0.4.6
comtypes==1.4.8
config2py==0.1.36
contourpy==1.3.3
creek==0.1.32
customtkinter==5.2.2
cycler==0.12.1
Cython==3.0.11
darkdetect==0.8.0
dol==0.2.94
Flask==3.1.2
flatbuffers==25.9.23
fonttools==4.61.1
frida==17.2.15
frida-tools==14.4.5
git-filter-repo==2.47.0
graze==0.1.27
gTTS==2.5.4
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
i2==0.1.45
idiom==0.1.5
idna==3.10
importlib_resources==6.4.5
inflect==7.4.0
itsdangerous==2.2.0
jh2==5.0.11
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.8
moji==0.0.8
more-itertools==10.5.0
MouseInfo==0.1.3
msgpack==1.1.2
mutagen==1.47.0
niquests==3.18.5
nltk==3.9.1
numpy==2.2.1
openmeteo_requests==1.7.5
openmeteo_sdk==1.26.0
packaging==24.1
pandas==3.0.2
pefile==2023.2.7
pillow==11.0.0
platformdirs==4.9.6
prompt_toolkit==3.0.51
py2store==0.1.20
PyAutoGUI==0.9.54
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyMsgBox==1.0.9
pyparsing==3.3.1
PyPDF2==3.0.1
pyperclip==1.9.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
python-chess==1.999
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pyttsx3==2.98
pytweening==1.2.0
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.3
qh3==1.7.1
redis==7.1.1
regex==2024.11.6
requests==2.32.3
requests-cache==1.3.1
retry-requests==2.0.0
scikit-learn==1.6.0
scipy==1.14.1
setuptools==75.1.0
six==1.17.0
sniffio==1.3.1
spdl==0.0.0
threadpoolctl==3.5.0
tqdm==4.67.1
typeguard==4.4.1
typing_extensions==4.15.0
tzdata==2026.1
url-normalize==2.2.1
urllib3==2.2.3
urllib3-future==2.19.906
wassima==2.0.6
wcwidth==0.2.13
websockets==13.1
Werkzeug==3.1.4
win10toast==0.9